#welcome
  %h1 Salut!!
  .grid-container
    .grid-x.grid-margin-x
      .cell.small-8
        %p.cartouche
          - # You need to install Fontawesome with a paid ($$) license
          - # To use this. 
          %i.fas.fa-camera
          %i.far.fa-camera
          %i.fal.fa-camera
          %i.fad.fa-acorn
          %i.fab.fa-canadian-maple-leaf
          %i.fab.fa-gitlab
          %i.fab.fa-gitkraken
          %i.fab.fa-redhat(style='font-size: 1em; color:tomato')

        %p 
          Lorem ipsum, d dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %h2 bonsoir!
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %h2 Bonjour
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
        %p 
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
          Blanditiis, rerum temporibus nostrum accusamus repudiandae 
          ipsam ex iure quam odit placeat vitae veniam modi eum? 
          Veritatis amet natus officiis maiores voluptate.
      .cell.small-4#droite
        %img(src="http://via.placeholder.com/250x450")

  %p 
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
  Blanditiis, rerum temporibus nostrum accusamus repudiandae 
  ipsam ex iure quam odit placeat vitae veniam modi eum? 
  Veritatis amet natus officiis maiores voluptate.

  