// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'settings'

  
#welcome 
  margin: 25px
  .cartouche
    background-color: darken(#def4f5,20%)
    padding: 20px 10px;
    border-radius: 15px
    box-sizing: content-box
    margin: 10px auto
    font-size: 200%

  p 
    clear:both

  h1
    color: $primary-color
    font-weight: 900
  h2
    color: $secondary-color
    font-weight: 100
    font-style: italic
    opacity: 0.5
  
  .cell
    background-color: #def4f5    
    padding: 15px

  .grid-container
    border: thin dotted black
    padding: 0

  #droite
    position: sticky
    top: 0
    right: 0
    left: 0
    height: 100vh
